# Copyright (c) 2016-2022 Martin Donath <martin.donath@squidfunk.com>

# Project information
site_name: Home
site_url: https://github.com/fralfaro/python_data_manipulation
site_author: Francisco Alfaro
site_description: Python - Data Manipulation

# Repository
repo_name: fralfaro/python_data_manipulation
repo_url: https://github.com/fralfaro/python_data_manipulation
edit_uri: ''



# Markdown extensions
markdown_extensions:
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.tabbed

# Extra javascript
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Theme
theme:
  name: material
  language: es
  logo: images/logo.bmp
  features:
    - navigation.instant
    - navigation.top
    - content.code.annotate
    - search.suggest
    - search.highlight
  palette:
    # Light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: blue grey
      accent: light blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: blue grey
      accent: light blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/fralfaro
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.com/fralfaro
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/faam/
    - icon: fontawesome/brands/kaggle
      link: https://www.kaggle.com/faamds
    - icon: fontawesome/brands/medium
      link: https://medium.com/@fralfaro

# Plugins
plugins:
  - search
  - mkdocs-jupyter:
      kernel_name: python3


# TOC
nav:
    - Home: index.md
    - Introducción: intro.md
    - Computación Científica:
        - Numpy:
            - numpy/01_intro.ipynb
            - numpy/021_objetos.ipynb
            - numpy/022_operaciones.ipynb
            - numpy/023_index.ipynb
            - numpy/024_algebra_lineal.ipynb
            - numpy/025_broadcasting.ipynb
        - Más Librerías:
            - numpy/scipy.ipynb
            - numpy/sympy.ipynb
    - Manipulación de Datos:
        - Pandas:
            - pandas/01_pandas_intro.ipynb
            - pandas/021_objetos.ipynb
            - pandas/022_op_basicas.ipynb
            - pandas/023_index.ipynb
            - pandas/024_filtros.ipynb
            - pandas/025_nulos_duplicados.ipynb
            - pandas/026_fechas.ipynb
            - pandas/027_ejemplo_practico.ipynb
            - pandas/031_groupby.ipynb
            - pandas/032_merge_concat.ipynb
            - pandas/033_pivot_melt.ipynb
            - pandas/034_ejemplo_practico.ipynb
    - Visualización:
        - visualization/01_intro.ipynb
        - Matplotlib:
            - visualization/021_matplotlib.ipynb
            - visualization/022_lineplot.ipynb
            - visualization/023_scatterplot.ipynb
            - visualization/024_barplot.ipynb
            - visualization/025_histplot.ipynb
            - visualization/026_heatmap.ipynb
        - Seaborn:
            - visualization/031_seaborn.ipynb
            - visualization/032_lineplot.ipynb
            - visualization/033_scatterplot.ipynb
            - visualization/034_barplot.ipynb
            - visualization/035_histplot.ipynb
            - visualization/036_heatmap.ipynb



