# Copyright (c) 2016-2022 Martin Donath <martin.donath@squidfunk.com>

# Project information
site_name: An치lisis Exploratorio de Datos
site_url: https://github.com/fralfaro/python_eda
site_author: Francisco Alfaro
site_description:

# Repository
repo_name: fralfaro/python_eda
repo_url: https://github.com/fralfaro/python_eda
edit_uri: ''



# Markdown extensions
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - neoteroi.cards
  - neoteroi.timeline
  - neoteroi.projects
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true

extra_css:
  - css/neoteroi-mkdocs.css

# Extra javascript
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Theme
theme:
  name: material
  language: es
  logo: images/python.png
  favicon: images/icon.png
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - navigation.indexes
    - content.tooltips
    - navigation.path
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - navigation.tabs
    - navigation.footer
  palette:
    # Light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: white
      accent: light blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: black
      accent: light blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/fralfaro
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.com/fralfaro
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/faam/
    - icon: fontawesome/brands/kaggle
      link: https://www.kaggle.com/faamds
    - icon: fontawesome/brands/medium
      link: https://medium.com/@fralfaro
    - icon: fontawesome/solid/globe
      link: https://fralfaro.github.io/portfolio/

# Plugins
plugins:
  - search
  - mkdocs-jupyter:
      kernel_name: python3


# TOC
nav:
    - 游 Home: index.md
    - 游댧 Computaci칩n Cient칤fica:
        - Numpy:
            - numpy/01_intro.ipynb
            - numpy/021_objetos.ipynb
            - numpy/022_operaciones.ipynb
            - numpy/023_index.ipynb
            - numpy/024_algebra_lineal.ipynb
            - numpy/025_broadcasting.ipynb
        - Extras:
            - numpy/scipy.ipynb
            - numpy/sympy.ipynb
    - 游닇 Manipulaci칩n de Datos:
        - Pandas:
            - B치sico:
              - pandas/01_pandas_intro.ipynb
              - pandas/021_objetos.ipynb
              - pandas/022_op_basicas.ipynb
              - pandas/023_index.ipynb
              - pandas/024_filtros.ipynb
              - pandas/025_nulos_duplicados.ipynb
              - pandas/026_fechas.ipynb
            - Avanzado:
              - pandas/031_groupby.ipynb
              - pandas/032_merge_concat.ipynb
              - pandas/033_pivot_melt.ipynb
    - 游늵 Visualizaci칩n:
        - visualization/011_intro.ipynb
        - visualization/012_types.ipynb
        - Matplotlib:
            - visualization/021_matplotlib.ipynb
            - visualization/022_lineplot.ipynb
            - visualization/023_scatterplot.ipynb
            - visualization/024_barplot.ipynb
            - visualization/025_histplot.ipynb
            - visualization/026_heatmap.ipynb
            - visualization/027_boxplot.ipynb
        - Seaborn:
            - visualization/031_seaborn.ipynb
            - visualization/032_lineplot.ipynb
            - visualization/033_scatterplot.ipynb
            - visualization/034_barplot.ipynb
            - visualization/035_histplot.ipynb
            - visualization/036_heatmap.ipynb
            - visualization/037_boxplot.ipynb
        - Altair:
            - visualization/041_altair.ipynb
            - visualization/042_lineplot.ipynb
            - visualization/043_scatterplot.ipynb
            - visualization/044_barplot.ipynb
            - visualization/045_histplot.ipynb
            - visualization/046_heatmap.ipynb
            - visualization/047_boxplot.ipynb

    - 游닄 Ejercicios:
        - Numpy:
            - extras/numpy_01.ipynb
        - Pandas:
            - extras/pandas_01.ipynb
            - extras/pandas_02.ipynb
        - Visualization:
            - extras/vis_01.ipynb